{% load static %}

<div class="row answer_box">
    <div class="col-2 avatar_box_outer">
        <div class="row avatar_box">
            <img class="avatar" src="{% static 'askme/img/avatar.png' %}" alt="avatar img">
        </div>
        <div class="row">
            <div class="col-4 arrow-box">
                <button type="button" class="btn btn-primary arrow">↑</button>
            </div>
            <div class="col-4 rate_box">
                <button type="button" class="btn btn-primary rate">{{ answer.rate }}</button>
            </div>
            <div class="col-4 arrow-box">
                <button type="button" class="btn btn-primary arrow">↓</button>
            </div>
        </div>
    </div>
    <div class="col-10 q_content">
        <div class="row">
            {{ answer.content|truncatewords:30 }}
        </div>
        <div class="row correct_check_box">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Correct!
                </label>
            </div>
        </div>
    </div>
</div>