{% extends 'askme/base.html' %}
{% load static %}

{% block userblock %}
    <div class="row">
        <div class="col-6">
            <div class="row box1">
                <div class="col-3 box2">
                    <div class="centered_element">
                        <form class="form-inline">
                            <a href="{% url 'ask' %}" class="btn btn-outline-success" type="submit">Ask</a>
                        </form>
                    </div>
                </div>
                <div class="col-9 box3">
                    <div class="img box">
                        <img class="profile_icon" src="{% static profile_icon_url %}">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="nick">
                    {{ user_nickname }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a class="btn btn-primary" href="{% url 'settings' %}" role="button">settings</a>
                </div>
                <div class="col">
                    <a class="btn btn-primary" href="#" role="button">log out</a>
                </div>
            </div>
        </div>
    </div>
{% endblock userblock %}