{% extends "askme/base.html" %}
{% block core_content %}
    <div class="row core_content_header">
        <div class="col-6">
            <h2 class="main_page_title">New questions</h2>
        </div>
        <div class="col-6 hot_questions">
            <h2>
                <a href="#">Hot questions</a>
            </h2>
        </div>
    </div>
    {% for question in questions %}
        {% include "askme/question_item.html" %}
    {% endfor %}
{% endblock core_content %}
{% block pages %}
    <div class="pages">{% include "askme/paginator.html" %}</div>
{% endblock pages %}
 