{% load static %}
<div class="row question_item">
    <div class="col-2">
        <div class="row avatar_box">
            <img class="avatar" src="{% static 'askme/img/avatar.png' %}" alt="avatar">
        </div>
        <div class="row">
            <div class="col-4 arrow-box">
                <button type="button" class="btn btn-primary arrow">↑</button>
            </div>
            <div class="col-4 rate_box">
                <button type="button" class="btn btn-primary rate">{{ question.rate }}</button>
            </div>
            <div class="col-4 arrow-box">
                <button type="button" class="btn btn-primary arrow">↓</button>
            </div>
        </div>
    </div>
    <div class="col-10 q_content">
        <div class="row">
            <a href="{{ question.get_url }}" class="question_name_ref">{{ question.title }}</a>
        </div>
        <div class="row">{{ question.content|truncatewords:30 }}</div>
        <div class="row">
            <div class="col-4">
                <a href="#" class="answers_quantity">answers ({{ question.answers_quantity }})</a>
            </div>
            <div class="col-8">
                <span>Tags:</span>
                {% for tag in question.tags %}
                    <a href="{{ tag.get_url }}">"{{ tag.name }}"</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
