<div class="row question_item">
    <div class="col-2">
        <div class="row avatar_box">
            <img class="avatar" src="{{ question.author.profile.avatar.url }}" alt="avatar">
        </div>
        {% include "askme/rate_counter.html" with obj_type='question' obj=question %}
    </div>
    <div class="col-10 q_content">
        <div class="row">
            <a href="{{ question.get_url }}" class="question_name_ref">{{ question.title }}</a>
        </div>
        <div class="row">{{ question.content|truncatewords:30 }}</div>
        <div class="row">
            <div class="col-4">
                <span class="answers_quantity">answers ({{ question.answers_quantity }})</span>
            </div>
            <div class="col-8">
                <span>Tags:</span>
                {% for tag in question.tags %}
                    <a href="{{ tag.get_url }}">"{{ tag.name }}"</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
