{% load static %}

<div class="row" id="question_item">
    <div class="col-2">
        <div class="row">
            <img class="avatar" src="{% static 'askme/img/avatar.png' %}">
        </div>
        <div class="row">
            {% comment %} {% include "askme/rating_counter.html" %} {% endcomment %}
            <div class="col-3">
                <img class="arrow" src="{% static 'askme/img/arrow_top.png' %}">
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-primary">rate</button>
            </div>
            <div class="col-3">
                <img class="arrow" src="{% static 'askme/img/arrow_bottom.png' %}">
            </div>
        </div>
    </div>
    <div class="col-10">
        <div class="row">
            <a href="#" class="question_name">How to breathe?</a>
        </div>
        <div class="row">
            <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>
        </div>
    </div>
</div>