{% extends "askme/base.html" %}
{% load static %}
{% block core_content %}
    <div class="row question_to_answer">
        <div class="col-2 avatar_box_outer">
            <div class="row avatar_box">
                <img class="avatar" src="{{ question.author.profile.avatar.url }}" alt="avatar">
            </div>
            <div class="row">
                <div class="col-4 arrow-box">
                    <button type="button" class="btn btn-primary arrow">↑</button>
                </div>
                <div class="col-4 rate_box">
                    <button type="button" class="btn btn-primary rate">{{ question.rate }}</button>
                </div>
                <div class="col-4 arrow-box">
                    <button type="button" class="btn btn-primary arrow">↓</button>
                </div>
            </div>
        </div>
        <div class="col-10 q_content">
            <div class="row">
                <div class="question_name">{{ question.title }}</div>
            </div>
            <div class="row">{{ question.content|truncatewords:30 }}</div>
            <div class="row">
                <span>Tags:</span>
                {% for tag in question.tags %}
                    <a href="{{ tag.get_url }}">"{{ tag.name }}"</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row answers">
        {% for answer_ in answers %}
            <div class="row answer">{% include "askme/answer_item.html" with answer=answer_ %}</div>
        {% endfor %}
    </div>
    <div class="row answer_form">
        <div class="mb-3">
            <textarea class="form-control"
                      id="exampleFormControlTextarea1"
                      rows="3"
                      placeholder="Enter your answer here"></textarea>
        </div>
        <button class="btn btn-outline-success" type="submit">Answer</button>
    </div>
{% endblock core_content %}
