{% extends "askme/base.html" %}
{% load bootstrap5 %}
{% load static %}

{% block core_content %}
    {% block title %}
    <h2 class="account_title">{{ user.username }}: settings</h2>
    {% endblock title %}
    <form action="{% url 'settings' %}" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% bootstrap_form settings_form %}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    <div class="row avatar_box">
        <img class="avatar" src="{{ request.user.profile.avatar.url }}" alt="avatar">
    </div>
{% endblock core_content %}
