.head {
    margin-bottom: 25px;
    width: 100%;
}

/* header {
    display: block;
    width: 100%;
} */

/* .row.container {
    margin-top: 50px;
    clear: left;
} */

.profile_icon {
    width: 50%;
    border-radius: 50%;
}

.nick {
    padding: 0px 16px;
    color: white;
}

/* .row.core_content::after {
    content: '\A'; white-space: pre;
} */

/* .core_content {
    width: 100%;
} */

.row.core_content_header {
    margin-top: 40px;
    margin-bottom: 30px;
}

.main_page_title {
    display: flex;
    align-items: center;
}

.col-9.hot_questions {
    display: flex;
    align-items: center;
}

.best_member_ref {
    margin: 10px 0;
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    width: 100%;
}

.row.best_members_header {
    font-size: 1.8rem;
    margin: 10px;
}

.row.members_list {
    margin-left: 10px;
    padding-left: 33px;
}

/* .row.best_members {
    margin-top: 35px;
    margin-left: 5px;
} */


.rating_counter {
    width: 50%;
    /* block-size: fit-content; */
}


.col-2.avatar_box_outer {
    padding-top: 35px;
}

.avatar {
    width: 40%;
    margin:0 auto;
    margin-bottom: 1rem;
}

.col-4.arrow-box {
    text-align: center;
    margin: auto;
    padding: 0;
}

.col-4.rate_box {
    text-align: center;
    margin: auto;
    padding: 0;
}

.btn.btn-primary.arrow {
    width: 70%;
    height: 70%;
    padding: 0;
}

.btn.btn-primary.rate {
    width: 70%;
    height: 70%;
    padding: 0;
    /* text-align: center; */
}

.row.question_item {
    /* border-block: solid;
    box-sizing: border-box;
    /* border-style: solid; */
    padding: 10px;
    border: 3px solid black;
    border-radius: 10%;
    margin-bottom: 10px;
}

.question_name_ref {
    text-decoration: underline;
    font-size: 1.5rem;
}

.question_name {
    font-size: 3rem;
}

.tags_header {
    font-size: 1.8rem;
    margin-bottom: 25px;
    margin-top: 45px;
    margin-left: 35px;
}

.row.tags {
    margin-left: 10px;
}
.col.tag_item {
    margin: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.col-4.tags_box {
    margin-left: 10px;
    font-size: 1rem;
}

.pages {
    display: block;
}

.row.question_to_answer {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.row.answer {
    border: 3px solid black;
    border-radius: 10%;
    padding: 15px;
    margin-bottom: 10px;
}

.row.answers {
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

.row.answer_form {
    margin-bottom: 15px;
}

.mb-3 {
    display: block;
    width: 100%;
}

.new_question_title {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px; 
}

.error_message {
    color: red;
    margin-bottom: 10px;
    width: 100%;
}

.login_title {
    width: 100%;
    margin-bottom: 20px;  
}

.login_form {
    padding-bottom: 15px;
}

.account_title {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px; 
}

/* .pages::before {
    content: '\A'; white-space: pre;
} */
/* .questions {
    margin-top: 40px;
} */

/* .container main {
    margin-top: 50px;
} */