header {
    width: 100%;
}

/* .row.container {
    margin-top: 50px;
    clear: left;
} */

.profile_icon {
    width: 50%;
    border-radius: 50%;
}

.nick {
    padding: 0px 16px;
    color: white;
}


.main_page_title {
    margin-top: 25px;
}

.rating_counter {
    width: 50%;
    /* block-size: fit-content; */
}

row.avatar_box {
    align-items: center;
}

.avatar {
    width: 40%;
    margin:0 auto;
    margin-bottom: 1rem;
}

.col-4.arrow-box {
    text-align: center;
    margin: auto;
    padding: 0;
}

.col-4.rate_box {
    text-align: center;
    margin: auto;
    padding: 0;
}

.btn.btn-primary.arrow {
    width: 70%;
    height: 70%;
    padding: 0;
}

.btn.btn-primary.rate {
    width: 70%;
    height: 70%;
    padding: 0;
    /* text-align: center; */
}

.row.question_item {
    /* border-block: solid;
    box-sizing: border-box;
    /* border-style: solid; */
    padding: 10px;
    border: 3px solid black;
    border-radius: 10%;
    margin-bottom: 10px;
}

.question_name {
    text-decoration: underline;
    font-size: 1.5rem;
}

.tags_header {
    font-size: 1.8rem;
    margin-bottom: 25px;
    margin-left: 35px;
}

.tags {
    margin-left: auto;
}
.col.tag_item {
    margin: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.col-4.tags_box {
    margin-left: 10px;
}

/* .questions {
    margin-top: 40px;
} */

/* .container main {
    margin-top: 50px;
} */