{% extends "askme/base.html" %}
{% load bootstrap5 %}

{% comment %} {% bootstrap_form form %} inside <form> {% endcomment %}

{% block core_content %}
    <h2 class="new_question_title">Log In</h2>
    <form method="post" action="{% url 'login' %}">
        {% comment %} get method: параметры передаются в query string, для этого в атрибуты input добавляем name {% endcomment %}
        {% comment %} login: по какому url приходят данные запроса {% endcomment %}
        {% csrf_token %}
        {% bootstrap_form login_form %}
        <button type="submit" class="btn btn-primary">Log in</button>
    </form>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <a href="{% url 'register' %}" style="text-decoration: underline">Create new account</a>
{% endblock core_content %}
